<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>internetProject</title>
</head>
<body>
    <h3>Welcome to our Internet Project</h3>

    <button type="submit">SignUp</button>
    <button type="submit">SignIn</button>
    <button type="submit">SignOut</button>
</body>
</html>