<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
<h3>Signup</h3>
<form action="/signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers" Required>
    <br>
    <label for="">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="Enter your first name" Required>
    <br>
    <label for="">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Enter your last name" Required>
    <br>
    <label for="">Email Address</label>
    <input type="email" id="email" name="email" placeholder="Enter your Email Address" Required>
    <br>
    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Create a Password" Required>
    <br>
    <label for="">Confirm your Password</label>
    <input type="password" id="pass2" name="pass2" placeholder="Confirm your Password" Required>
    <br>
    <label for="id_proof">Upload ID Proof</label>
    <input type="file" id="id_proof" name="id_proof" accept="image/*,application/pdf" required>
    <small>Accepted formats: Image files (jpeg, png) or PDF</small>
    <br>

    <button type="submit">Sign Up</button>
</form>

</body>
</html>