{% extends 'templates/base.html' %}

{% block content %}
  {% load static %}

  <section>
    <div class="container mx-auto justify-content-around">

      <div class="row">
          <div class="col-md-14">
            <div class="nav flex-column nav-pills settings-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">

              <a class="nav-link active" id="settings-wallet-tab" data-toggle="pill"  role="tab">
                <h2 class="card-title mt-4 mb-4 text-center">Crypo App</h2>

                <p>Crypo is the world's most-referenced price-tracking website for cryptoassets in the rapidly growing cryptocurrency space. Its mission is to make crypto discoverable and efficient globally by empowering retail users with unbiased, high quality, and accurate information for drawing their own informed conclusions.</p>

                <p>Founded by Brandon Chez in May 2013, Crypo has quickly grown to become the most trusted source by users, institutions, and media for comparing thousands of cryptoassets and is commonly cited by CNBC, Bloomberg, and other major news outlets. (Even the U.S. government uses Crypo's data for research and reports!)</p>

                <p>In April 2020, Crypo was acquired by Binance Capital Mgmt. Binance is the global blockchain company behind the world's largest digital asset exchange by trading volume and users, which shares the common vision of making crypto accessible and systemically important to people all around the world.</p>

                <p>Through the acquisition, CoinMarketCap plans to tap into its parent company's extensive resources to acquire more in-depth data into projects, reduce information asymmetry in the crypto industry and bring higher-quality data to its hundreds of millions of users.</p>

                <p>Crypo stands firmly for accurate, timely and unbiased information. Since its acquisition by Binance in early 2020, Crypo continues to operate independently from its parent company. Read our disclosure policy for more information.</p>
              </a>
            </div>
          </div>

        <!-- Additional Content or Sidebar -->
        <div class="col-md-4">
          <!-- Add additional content, links, or sidebar information as needed -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}
