{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange</title>
    <!-- import Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- display real time rate -->
    <div>Current Rate: <span id="currentRate">Loading...</span></div>
    <!-- chart container -->
    <canvas id="rateChart"></canvas>
    <!-- import javascript currencyTable.js -->
    <script src="{% static 'js/currencyTable.js' %}"></script>
</body>
</html>
