{%  extends 'templates/base.html' %}

{% block title %}Payment{% endblock %}

{% block content %}

    <section class="feature section">
        <div class="container">
            <h3 class="my-5 text-center">Payment</h3>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-4">
                    <img src="" alt="image for the payment page">
                </div>
                <div class="col-7">
                    <form action="{% url 'internetProject:payment_done' %}" method="post" class="my-auto">
                        {% csrf_token %}
                        <div class="form-group my-3">
                            <label for="" class="form-">Card Number</label>
                            <input class="form-control" type="text" id="card_number" name="card_number" placeholder="Card Number" Required>
                        </div>

                        <div class="row my-2">
                            <div class="col">
                              <input class="form-control" type="date" id="expiration_date" name="expiration_date" placeholder="Expiration Date Number" Required>
                            </div>
                            <div class="col">
                              <input class="form-control" type="password" id="cvv" name="cvv" placeholder="CVV" Required>
                            </div>
                        </div>



                        <div class="form-group my-3">
                            <label for="">First Name</label>
                            <input class="form-control" type="text" id="firstname" name="firstname" placeholder="First name" Required>
                        </div>

                        <div class="form-group my-3">
                            <label for="">Last Name</label>
                            <input class="form-control" type="text" id="firstname" name="Lastname" placeholder="Last Name" Required>
                        </div>

                        <button type="submit" class="btn btn-primary ">Submit</button>

                    </form>

                </div>
            </div>


        </div>

    </section>
{% endblock%}
