{% extends 'templates/base.html' %}

{% block title %}Payment{% endblock %}

{% block content %}
{% load static %}

     <link rel="stylesheet" href="{% static 'assets/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/paymentPaypal.css' %}" />


<body>
    <div class="center">
        <div class="payment-container">
            <form id="postForm" style="display: none" action="/payment" method="POST">
                {% csrf_token %}
                <!-- Other form elements go here -->
                <input type="text" id="payment_status" name="payment_status" value="">
                <input type="text" id="create_time" name="create_time" value="">
                <input type="text" id="given_name" name="given_name" value="">
                <input type="text" id="surname" name="surname" value="">
                <input type="text" id="email_address" name="email_address" value="">
                <input type="text" id="payer_id" name="payer_id" value="">
                <input type="text" id="reference_id" name="reference_id" value="">
                <input type="text" id="value" name="value" value="">
                <input type="text" id="currency_code" name="currency_code" value="">
                <input type="submit" value="Submit">
            </form>


            <header class="w3-container w3-blue">
                    <h1>PayPal Payment</h1>
            </header>

            <p>Please choose a method for your payment.</p>

            <!-- PAYPAL BUTTONS HERE  -->
            <div id="paypal-button-container"></div>

            <!-- Include the PayPal JavaScript SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=AfwyzgvbNnQHpWTkfDLiH8nh92ma2rbylSPtJ4WfIEWqJMUZNT1KUEadfpUGW0MHmR0j_Bde-u3EIohP&currency=USD">
            </script>

            <script>
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({
                    // Set up the transaction
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: {{ total_price }}
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (details) {

                            console.log("raja" + details.status + details.create_time + details.update_time + details.payer.name)

                            //Checking the payment status
                             if (details.status === 'COMPLETED') {
                                 // Show a success message to the buyer
                                 alert('--- Transaction ID-' + details.id);
                                 //Save the necessary details to the model for Successful Transaction
                                    console.log('Payment was successful!');
                                    console.log('Transaction ID: ' + details.id);
                                    console.log('Payer Name: ' + details.payer.name.given_name);
                                    console.log('Payer Email: ' + details.payer.email_address);

                                    // Create a form dynamically
                                    var form = document.getElementById('postForm');
                                    var inputElement = document.getElementById("json_response");
                                    var payment_status = document.getElementById('payment_status')
                                    var create_time = document.getElementById('create_time')
                                    var given_name = document.getElementById('given_name')
                                    var surname = document.getElementById('surname')
                                    var email_address = document.getElementById('email_address')
                                    var payer_id = document.getElementById('payer_id')
                                    var reference_id = document.getElementById('reference_id')
                                    var value = document.getElementById('value')
                                    var currency_code = document.getElementById('currency_code')



                                    payment_status.value = details.status
                                    create_time.value = details.create_time
                                    given_name.value = details.payer.name.given_name
                                    surname.value = details.payer.name.surname
                                    email_address.value = details.payer.email_address
                                    payer_id.value = details.payer.payer_id
                                    reference_id.value = details.id
                                    value.value = details.purchase_units[0].amount.value
                                    currency_code.value = details.purchase_units[0].amount.currency_code
                                    form.submit();

                                    // Append the hidden input to the form
                                    {#form.appendChild(jsonInput);#}
                                } else {
                                 // Show a Failed message to the buyer
                                 alert('Transaction failed by Raja' + '--- Transaction ID-' + details.id);
                                 //save for failed/Incomplete transaction
                                    console.log('Payment failed or not completed.');
                                }
                        });
                    }
                }).render('#paypal-button-container');
            </script>
            <footer class="w3-container w3-blue">
                    <h5>&copy CryptoLand @Fall2023</h5>
            </footer>
        </div>
    </div>

</body>

{% endblock %}
