{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange</title>
    <!-- import Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/currencyTable.css' %}">
</head>
<script type="text/javascript">
    const fromCurrency = "{{ from_currency }}";
    const toCurrency = "{{ to_currency }}";
    // You can now use fromCurrency and toCurrency in your JavaScript code
</script>
<body>
<!-- display real time rate -->
<div>Current Rate: <span id="currentRate">Loading...</span></div>

<form method="post" action="/payment_test/{{ from_currency }}/{{ to_currency }}/">
    {% csrf_token %}
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" placeholder="Enter amount" oninput="calculate()"> {{ from_currency }}
    <div id="result"></div>
    <button type="submit">Pay</button>
{#<input type="number" id="amount" name="amount" placeholder="Enter amount" oninput="calculate()"> {{ from_currency }}#}

<div id="result"></div>
<!-- chart container -->
<div id="chartContainer">
    <canvas id="rateChart"></canvas>
</div>
<!-- import javascript currencyTable.js -->
<script src="{% static 'js/currencyTable.js' %}"></script>
{#<a href="{% url 'internetProject:payment_test' from_currency to_currency %}">#}
{#    <button type="button">Pay</button>#}
{#</a>#}
<a href="{% url 'internetProject:currency' from_currency to_currency %}">
    <button type="button">Back to Currency</button>
</a>
</body>
</html>

