{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <link rel="stylesheet" href="{% static 'css/currencyTable.css' %}">
</head>
<body>

<div class="flex-container">

    <div class="rate-info">
        <h1>{{ from_currency }}: {{ latest_rate.close }}
            <select id="to_currency_select" onchange = "location= this.value;">
                {% for currency in currencys %}
                <option value="{% url 'internetProject:currency' from_currency currency %}" {% if currency == to_currency %}selected{% endif %}>{{ currency }}</option>
                {% endfor %}
            </select>
        </h1>
        <a href="{% url 'internetProject:currency_calculate' from_currency to_currency %}">
            <button type="button" >Pay Now</button>
        </a>
    </div>
    <div class="chart-container">
        <div style="width: 100%;">
            <canvas id="rateCharMonth"></canvas>
        </div>
    </div>
</div>
<script>
 const fromCurrency = "{{ from_currency }}";
 const toCurrency = "{{ to_currency }}";
 const historicalData = JSON.parse('{{ data | safe }}');
</script>

<script src="{% static 'js/currencyTableMonth.js' %}"></script>
</body>
</html>